body {
    background: #030303 url("../img/images/lb_bg_01.png") no-repeat top center;
}

/*content-register*/
#content {
    width: 1136px;
    margin: 0 auto;
}

.content-top {
    height: 200px;
    padding: 130px 0 0;
}

.logoLarge {
    text-align: center;
}

.content-center {
    padding: 0 168px;
    color: #ffffff;
}

.content-center-left {
    float: left;
    width: 360px;
    padding: 10px 20px;
}
input{
    border: 1px solid #ffffff;
}
input:focus {
    border: 1px solid #ff0000;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.075) inset, 0 0 6px #ff0000;
}

.rlf-input {
    padding: 0 0 0 50px;
    color: #ffffff;
    background: url("../img/images/lc_login_input_items.png") no-repeat scroll 0 0;;
    width: 308px;
    height: 43px;
}

.rlf-input-email {
    border-bottom: none;
    background-position: 0 0;
}

.rlf-input-pwd {
    background-position: 0 -50px;
}

#signin-btn {
    color: #ffffff;;
    margin: 15px 0 0;
    width: 360px;
    height: 43px;
    background: #00B7EE;
    border: none;
    border-radius: 5px;
}
#signin-btn:hover{
    background: #0088bb;
}
p.select {
    color: #00B7EE;
    text-align: right;
}

p a {
    padding: 0 0 0 5px;
    color: #00B7EE;
    text-decoration: underline;
}

p.choice {
    text-align: left;
    margin: 0;
    font-size: 18px;
    color: #ffffff;
}

.content-center-right {
    text-align: center;
    float: right;
    width: 359px;
    padding: 10px 20px 0;
    border-left: 1px solid #ffffff;
}

/*content-login*/
.forget{
    margin: 15px 0 10px;
    font-size: 14px;
    color: #b2b2b2;
}