/* ======================================
   自己的css样式
   ====================================== */
.clearfix:after{ content:"."; display:block; height:0; clear:both; visibility:hidden;}
.clearfix{ display:inline-block;}
.clearfix{ height:1%;}
.clearfix{ display:block;}

body {
    background: #fafafa;
}

/*header*/
header {
    height: 80px;
    width: 100%;
}

/*content*/
section {
    width: 100%;
}

#content {
    min-height: 500px;
    overflow: auto;
    width: 1136px;
    margin: 0 auto;
    padding: 47px 0;
}

/*content-partLeft*/
.content-partLeft {
    float: left;
    width: 260px;
}

.content-partLeft .user-info-wrapper {
    height: 230px;
    margin-bottom: 20px;
    background: #ffffff;
    border-bottom: 3px solid #e6e6e6;
}
.content-partLeft .user-info-wrapper .avatar {
    width: 120px;
    height: 120px;
    margin: auto auto;
    padding: 35px 0 25px 0;
}
.content-partLeft .user-info-wrapper .avatar img {
    width: 100%;
    height: 100%;
}
.content-partLeft .user-info-wrapper .username {
    color: #4c4c4c;
    text-align: center;
    font-size: 14px;
}

.content-partLeft ul {
    margin: 0;
    padding: 0 13px;
    list-style: none;
    text-align: center;
    font-size: 14px;
    color: #4c4c4c;
}

.content-partLeft-nav {
    padding: 13px 0;
    background: #ffffff;
    border-bottom: 3px solid #e6e6e6;
}

.content-partLeft-nav ul {
    padding: 0;

}

.content-partLeft-nav ul li a {
    display: inline-block;
    color: #4c4c4c;
    width: 234px;
    background: url("../img/images/ac_content-partLeft_items_01.png") no-repeat left center;
    line-height: 49px;
    height: 49px;
    border-bottom: 1px solid #dcdcdc;
    text-decoration: none;
}
.content-partLeft-nav ul li:last-child a {
    border-bottom: 0;
}

.content-partLeft-nav ul li a.nobg {
    background: none;
}

.content-partLeft-nav ul li a:hover,
.content-partLeft-nav ul li .active {
    background: url("../img/images/ac_content-partLeft_items_01_hover.png") no-repeat left center;
    color: #34b4ef;
}

.content-partLeft-nav ul li a.nobg:hover {
    background: none;
}

.content-partLeft-function {
    margin: 20px 0;
}

.content-partLeft-function ul {
    padding: 0;
    color: #ffffff;
}

.content-partLeft-function ul li {
    margin: 0 0 5px;
    padding: 0 13px;
    height: 57px;
    line-height: 57px;
    background: #34b4ef url("../img/images/ac_content-partLeft_items_02.png") no-repeat left center;
    border-bottom: 3px solid #1f9aea;
}

.content-partLeft-function ul li a {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    height: 57px;
    width: 234px;
    line-height: 57px;
}

.content-partLeft-topicList {
    overflow: auto;
    padding: 13px;
    background: #ffffff;
}

.content-partLeft-topicList h1 {
    font-size: 14px;
    color: #808080;
}

.content-partLeft-topicList a {
    margin: 8px;
    padding: 0 10px;
    display: inline-block;
    float: left;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    color: #ffffff;
    background: #34b4ef;
    border-radius: 5px;
    text-decoration: none;
}

/*content-partRight*/
.content-partRight {
    width: 776px;
    margin: 0 0 0 50px;
    background: #ffffff;
    float: right;
    padding: 25px;
}

.content-partRight-header {
    position: relative;
    font-size: 14px;
    color: #808080;
}

.content-partRight-header a {
    margin: 8px;
    padding: 0 10px;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    color: #ffffff;
    background: #34b4ef;
    border-radius: 5px;
    text-decoration: none;
}

.content-partRight-header-search {
    position: absolute;
    right: 3px;
    top: 10px;
}

.content-partRight-content {
    position: relative;
    color: #828282;
    font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Arial, STHeiti, sans-serif;
    line-height: 24px;
    font-size: 16px;
}

/*右侧导航*/
.content-partRight-content h1 {
    color: #808080;
    font-size: 14px;
    padding: 0 0 10px;
    margin: 0;
    border-bottom: 1px solid #cccccc;
}

.content-partRight-content ul {
    color: #808080;
    font-size: 14px;
    cursor: pointer;
    list-style: none;
    padding: 0 0 0 0;
    margin: 0px;
    border-bottom: 1px solid #cccccc;
}

.content-partRight-content ul:after {
    clear: both;
    height: 0;
    display: block;
    content: '.';
    visibility: hidden;
}

.content-partRight-content ul > li {
    height: 100%;
    float: left;
    padding: 2px 10px 2px 10px;
    margin-right: 20px;
    line-height: 30px;
    border-bottom: 3px solid #ffffff;
}

.content-partRight-content ul > li:hover,
.content-partRight-content ul > li.active {
    border-bottom: 3px solid #028ad6;
}

.content-partRight-content .course-wrapper {
    position: relative;
    border-bottom: 1px solid #d6d6d6;
    margin-top: 20px;
    margin-bottom: 20px;
}
.content-partRight-content .course-wrapper:last-child {
    border-bottom: 0;
}
.course-wrapper .course-logo {
    width: 225px;
    height: 145px;
    float: left;
}

.course-wrapper .course-logo img {
    width: 100%;
    height: 100%;
}

.course-wrapper .course-info {
    margin-left: 250px;
}

.course-wrapper .course-info div {
    color: #808080;
    font-size: 14px;
    font-weight: 600;
}
.course-wrapper .course-info .course-title {
    height: 26px;
}
.course-wrapper .course-info .course-teacher {
    height: 28px;
}
.course-wrapper .course-info .course-star {
    height: 30px;
}
.course-wrapper .course-info .course-star span {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url("../img/images/pc_course_items_04.png") no-repeat 0 0;
}
.course-wrapper .course-info .course-progress-label {
    height: 20px;
    color: #b3b3b3;
    font-size: 12px;
    line-height: 12px;
}
.course-wrapper .course-info .course-progressbar {
    width: 300px;
    height: 4px;
    background-color: #d6d6d6;
}
.course-wrapper .course-info .course-progress {
    width: 50%;
    height: 100%;
    background-color: #34b4ef;
}
.course-wrapper .course-footer {
    position: relative;
}
.course-wrapper .course-footer .course-praise,
.course-wrapper .course-footer .course-comment {
    display: inline-block;
    margin: 10px 10px 0 0;
}
.course-footer .course-praise .course-praise-num,
.course-footer .course-comment  .course-comment-num {
    height: 27px;
    padding: 0 13px 0 13px;
    float: left;
    color: #ffffff;
    line-height: 27px;
    border-radius: 3px;
}
.course-footer .course-praise .course-praise-num {
    background-color: #fa819e;
}
.course-footer .course-comment  .course-comment-num {
    background-color: #3fbcef;
}
.course-footer .course-praise .btn-course-praise,
.course-footer .course-comment .btn-course-comment {
    height: 27px;
    margin-left: 1px;
    margin-right: 10px;
    padding: 0 20px 0 10px;
    float: left;
    position: relative;
    color: #ffffff;
    border-radius: 3px;
    line-height: 27px;
}
.course-footer .course-praise .btn-course-praise {
    background-color: #fa819e;
}
.course-footer .course-comment .btn-course-comment {
    background-color: #3fbcef;
}

.course-footer  .btn-course-praise:after,
.course-footer  .btn-course-comment:after {
    height: 27px;
    width: 27px;
    position: absolute;
    top: 0;
    right: -13px;
    content: " ";
    background-size: cover;
}
.course-footer .btn-course-praise:after {
    background-image: url('../img/images/ic_course_item_praise.png');
}
.course-footer  .btn-course-comment:after {
    background-image: url('../img/images/ic_course_item_comment.png');
}

.course-wrapper .btn-course-continue {
    width: 122px;
    height: 37px;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 40px;
    color: #ffffff;
    background-color: #34b4ef;
    font-size: 18px;
    text-align: center;
    line-height: 37px;
}
.course-feedback {
}
.course-feedback .form-control {
    padding-right: 20px;
}
.course-feedback textarea {
    width: 100%;
    height: 85px;
    padding: 10px;
    color: #999999;
    overflow: hidden;
    resize: none;
    outline: none;
    border: 1px solid #d6d6d6;
    font-size: 14px;
}
.course-feedback textarea:hover,
.course-feedback textarea:focus {
    border: 1px solid #d6d6d6;
}
.course-feedback .form-footer {
    width: 100%;
    height: 44px;
    position: relative;
    border: 1px solid #d6d6d6;
    border-top: transparent;
}
.course-feedback .form-footer .course-star {
    height: 44px;
    margin: 0 15px 0 15px;
    display: inline-block;
 }
.course-feedback .form-footer .course-star span {
    width: 15px;
    height: 15px;
    margin: 14px 0 15px 0;
    float: left;
    background: url("../img/images/pc_course_items_04.png") no-repeat 0 0;
}
.course-feedback .form-footer .star-tips {
    margin-left: 15px;
    display: inline-block;
    color: #808080;
    font-size: 14px;
    line-height: 44px;
}
.course-feedback .btn-submit {
    width: 93px;
    height: 28px;
    position: absolute;
    top: 8px;
    right: 8px;
    color: #fff;
    background-color: #34b4ef;
    border: 0;
}

/*以下是面试页面样式*/
.content-partRight-content .interview-wrapper  {
    margin-top: 20px;
}
.interview-wrapper .interview-thumbnail {
    width: 222px;
    height: 147px;
    float: left;
    cursor: pointer;
    color: #ffffff;
    background-color: #d6d6d6;
    font-size: 80px;
    line-height: 135px;
    text-align: center;
}

.interview-wrapper .interview-info {
    float: left;
    margin: 22px 0 0 35px;
    color: #808080;
    font-size: 14px;
    line-height: 25px;
}
.interview-wrapper .interview-info .btn-join {
    margin-top: 20px;
    display: inline-block;
    color: #3fbcef;
    text-decoration: underline;
    line-height: 14px;
    font-weight: 600;
}

/*以下是笔记页面样式*/

.content-partRight-content .label-wrapper {
    margin-top: 10px;
    margin-bottom: 40px;
}

.label-wrapper .note-label {
    height: 25px;
    padding: 0 15px 0 15px;
    margin: 8px 8px 0 0;
    float: left;
    border-radius: 2px;
    color: #ffffff;
    background-color: #d6d6d6;
    font-size: 13px;
    line-height: 25px;
}

.label-wrapper .note-label.active {
    background-color: #3fbcef;
}

.content-partRight-content .note-wrapper {
    position: relative;
    margin: 0 0 10px 33px;
    padding: 0px 0 10px 30px;
    border-left: 2px solid #aaaaaa;
}
.note-wrapper:before {
    width: 33px;
    height: 33px;
    position: absolute;
    top: -6px;
    left: -18px;
    content: " ";
    border-radius: 100%;
    background: url('../img/images/ic_course_note-avatar.png') center;
}

.note-wrapper.active:before {
    background: url('../img/images/ic_course_note-avatar-hover.png') center;
}
.note-wrapper .note-title {
    margin-bottom: 20px;
    overflow: hidden;
    color: #4d4d4d;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
}
.note-wrapper .note-content {
    color: #808080;
    font-size: 14px;
    line-height: 25px;
}
/*以下是我的消息页面样式*/

.content-partRight .message-wrapper {
    border-bottom: 1px solid #cccccc;
    margin-top: 30px;
    padding-bottom: 20px;
}

.message-wrapper .message-header {

}

.message-wrapper .fromuser-info {
    width: 130px;
    float: left;
    text-align: center;
}

.message-wrapper .fromuser-info .avatar {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}

.message-wrapper .fromuser-info .username {
    color: #a8a1c1;
    margin-top: 12px;
    font-size: 12px;
}

.message-wrapper .fromuser-info .avatar img {
    width: 100%;
    height: 100%;
}

.message-wrapper .message-info {
    width: 646px;
    margin-top: 5px;
    float: left;
}

.message-wrapper .message-info .time {
    margin-right: 20px;
    display: inline-block;
    font-size: 12px;
}

.message-wrapper .message-info .label {
    display: inline-block;
    margin-right: 10px;
}

.message-wrapper .message-info .label a {
    color: #ffffff;
    border-radius: 3px;
    padding: 6px 10px 6px 10px;
    background-color: #3fbcef;
    letter-spacing: 1px;
    font-size: 12px;
}

.message-wrapper .message-info .title {
    position: relative;
    margin-top: 15px;
    color: #777777;
    font-size: 13px;
    font-weight: 600;
}

.message-wrapper .message-info .top {
    color: #ff7e00;
    font-weight: normal;
}

.message-wrapper .message-info .tips {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 3px;
    left: -23px;
    display: inline-block;
    background: url('../img/images/ic_course_message-tips.png') center;
}

.message-wrapper .message-content {
    padding-left: 3px;
    color: #99a1a6;
    font-size: 12px;
}
.message-wrapper .message-content .user-info {
}

.message-wrapper .message-content .user-info .avatar img {
    width: 17px;
    height: 17px;
}

.message-wrapper .message-content .user-info .username {
    color: #303538;
}

.message-wrapper .message-footer {
    margin: 20px 0 0 0px;
}

.message-wrapper .message-footer a {
    height: 15px;
    margin-right: 40px;
    padding: 0 0 0 22px;
    display: inline-block;
    color: #6d8ba7;
    font-size: 12px;
    line-height: 15px;
}
.message-wrapper .message-footer .comment {
    background: url('../img/images/ic_course_message_comment.png') no-repeat;
}

.message-wrapper .message-footer .view {
    background: url('../img/images/ic_course_message_view.png') no-repeat;
}

.message-wrapper .message-footer .praise {
    background: url('../img/images/ic_course_message_praise.png') no-repeat;
}

.message-wrapper .message-footer .delete {
    background: url('../img/images/ic_course_message_delete.png') no-repeat;
}

.message-wrapper .message-footer .top {
    background: url('../img/images/ic_course_message_top.png') no-repeat;
}

/*form 组件*/
.form-control-group {
    height: 26px;
    margin-bottom: 13px;
}
.form-control-group:last-child {
    margin-bottom: 0;
}
.form-control-group:after {
    width: 1px;
    height: 1px;
    display: block;
    visibility: hidden;
    content: '.';
}
.form-control-group .form-control {
    float: left;
}
.form-control-group .form-control-group {
    float: left;
}
.form-control-group label {
    float: left;
    font-size: 14px;
}
.form-control-group .fixed-label {
    width: 95px;
    height: 26px;
    padding: 0 10px 0 10px;
    line-height: 26px;
    text-align: right;
}
.form-control-group input[type='text'].form-control,
.form-control-group input[type='password'].form-control {
    width: 255px;
    height: 24px;
    margin: 0;
    padding: 0 10px 0 10px;
    color: #828282;
    font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Arial, STHeiti, sans-serif;
    font-size: 14px;
    border-radius: 3px;
    border:1px solid #cccccc;
}
.form-control-group input.form-control:active,
.form-control-group input.form-control:hover,
.form-control-group input.form-control:focus {
    border: 1px solid #cccccc;
    outline: none;
    background-color: #fff;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    border: 1px solid #cccccc;
}
.form-control-group input[type='radio'].form-control {
    height: 18px;
    width: 18px;
    margin-top: 4px;
    float: left;
}
.form-control-group .radio-label {
    margin: 0 55px 0 10px;
}
.form-control-group select {
    min-width: 100px;
    height: 26px;
    color: #808080;
    font-size: 14px;
    float: left;
}
.form-control-group select:active,
.form-control-group select:hover,
.form-control-group select:focus {
    border: 1px solid #cccccc;
    outline: none;
}
.form-control-group select option {
    height: 30px;
    line-height: 20px;
    background-color: #ffffff;
}
.form-control-group .select-label {
    float: left;
    margin: 0 5px 0 5px;
}
input[type='submit'].form-control {
    width: 46px;
    height: 22px;
    color: #fff;
    background-color: #f58127;
    font-size: 12px;
    line-height: 22px;
    border: 0;
    border-radius: 1px;
}
input[type='submit'].form-control:active,
input[type='submit'].form-control:hover,
input[type='submit'].form-control:focus {
    background-color: #f58127;
    outline: none;
    border: 0;
}
.form-control.password-strength-control:after {
    width: 1px;
    height: 1px;
    display: block;
    visibility: hidden;
    content: '.';
}
.form-control.password-strength-control span {
    width: 40px;
    height: 10px;
    display: inline-block;
    background-color: #e6e6e6;
}

/*个人资料页面*/
.content-partRight-content .information-wrapper {
    margin-top: 25px;
    position: relative;
}
.information-wrapper .btn-toggle {
    width: 36px;
    height: 30px;
    position: absolute;
    top: -40px;
    right: 0;
    padding-left: 30px;
    font-size: 12px;
    line-height: 30px;
    color: #4d4d4d;
    background-image: url('../img/images/ic_security-edit-btn.png');
    background-size: cover;
}
.information-wrapper .btn-information-submit {
    display: block;
}
.information-wrapper .btn-information-edit {
    display: none;
}
.information-wrapper .information-form-wrapper  {
    display: block;
}
.information-wrapper .information-display-wrapper {
    display: none;
}
.information-display-wrapper .information-row {
    height: 40px;
    margin-bottom: 13px;
}
.information-display-wrapper .information-row:last-child {
    margin-bottom: 0;
}
.information-display-wrapper .information-row:after {
    width: 1px;
    height: 1px;
    display: block;
    visibility: hidden;
    content: '.';
}
.information-display-wrapper .information-row label {
    float: left;
    font-size: 14px;
}
.information-display-wrapper .information-row .fixed-label {
    width: 95px;
    padding: 0 10px 0 10px;
    line-height: 14px;
    text-align: right;
}
.information-display-wrapper .information-row .data {
    float: left;
    font-size: 14px;
    line-height: 14px;
    text-align: right;
}
.information-display-wrapper .information-row a.data {
    color: #ff6666;
    text-decoration: underline;
}
/*安全中心页面*/
.security-form-wrapper {
    position: relative;
    margin: 20px 0 10px 0;
    padding: 10px 0 10px 0;
    border: 1px solid #d6d6d6;
}
.security-email-wrapper {
    position: relative;
    margin: 0 0 10px 0;
    padding: 10px 0 10px 0;
    border: 1px solid #d6d6d6;
}
.security-phone-wrapper {
    position: relative;
    margin: 0 0 10px 0;
    padding: 10px 0 10px 0;
    border: 1px solid #d6d6d6;
}
.btn-form-toggle {
    position: absolute;
    top: 15px;
    right: 22px;
    color: #1774a8;
    font-size: 12px;
    font-weight: 600;
}

/*footer*/
footer {
    height: 123px;
    background-image: none;
}
